* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.background-shape {
    height: 2500px;
    width: 3000px;
    clip-path: ellipse(30% 40% at 50% 50%);
    background: blue;
    position: absolute;
    left: -1430px;
    top: -1238px;
    z-index: 1;
}

.signup-button {
    position: absolute;
    left: 270px;
    top: 220px;
    z-index: 2;
}

.signup-button button {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 35px;
    background-color: blue;
    padding: 15px 30px;
    cursor: pointer;

}

.sign-up {
    position: absolute;
    text-align: center;
    line-height: 60px;
    margin: 50px 45px;
    font-size: 14px;
    color: white;
    z-index: 2;
}

.space-graphic {
    position: absolute;
    top: 300px;
    left: 150px;
    z-index: 2;
}

.main-signin {
    align-items: right;
    position: relative;
    z-index: 3;
}

.main-signin h1 {
    text-align: right;
}

.username-form {
    float: right;
    clear: both;
}

.email-form {
    float: right;
    clear: both;
}

.password-form {
    float: right;
    clear: both;
}

.signin-button {
    float: right;
    clear: both;

}

.social-text {
    text-align: right;
    clear: both;
}